*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main
{
    display: flex;
    flex-direction: column;
    gap: 5em;
}
.result p 
{
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}
.result 
{
    display: flex;
    flex-direction: row;
    gap: 22em;
    padding: 1em;
    border-bottom:0.0001em solid #333;
}
.text 
{
    border: 0.001em solid #333;
    padding: 1em;
    margin: 1em;
}
.text p 
{
    font-size: 1.5em;
    
}